<html lang="en">
<head>
    <title>Student name profile</title>
    <!--materialize imports-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" src="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<style>
    .margin{
    margin-top: 100px;
   } 
   .ipad{
    padding-left: 10px;
   }
   img{
      padding: 10px 10px 10px 10px;
   }
</style>
<body>
        <header>  
                  <nav class="nav-wrapper lime accent-4">
                         
                    <a href="#"><i class="large material-icons ipad">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                         
                        <!--put any links here-->
                    </ul>
                      
                  </nav>     
        </header> 
 <div class="container">
   <div class="card light-green lighten-4">
    <div class="row margin">
            <div class="col s3 ">
                 <img src="https://openclipart.org/download/216165/fb_stormshadow.svg" class="prefix circle ">
            </div>
            <div class="col s3">
                <p>Name: loremipsum</p>
               <p font-size="10px"><i class="material-icons prefix" font-size="10px">contact_phone</i>1848218789</p>
            </div>
            <div class="col s3">
                    <p>RID: RSK29847492</p>
                    <p>Team: loremipsum</p>
            </div>    
    </div> 
    <div class="row section card-panel">
         <h2>Projects</h2>
    </div>
    <div class="row section card-panel">
         <h2>Analytics</h2>
    </div>
   </div> 
  </div>    
</body>
</html>